@page "/"
@inject HttpClient Http

<h1 class="center text">Saint Seiya Epic Saga Generator</h1>

<div class="center">    
    <p class="text">            
        @string.Join(" ",Story)
    </p>
</div>

@code {
    Random random = new Random();

    public readonly List<String> Story = new List<string>();

    private SeiyaData _seiyaData;

    protected override async Task OnInitializedAsync()
    {
        _seiyaData = await Http.GetFromJsonAsync<SeiyaData>("sample-data/seiya.json");

        var littleBadEvil = _seiyaData.ElAnteriorAlBoss.GetRandomElement();

        var bigBadEvil = _seiyaData.BigBadEvilGuy.GetRandomElement();

        var mainSaints = _seiyaData.Caballeros.RemoveRandomElements(5);

        var remainingSaints = _seiyaData.Caballeros;

        mainSaints.RemoveIfExists(bigBadEvil);

        remainingSaints.RemoveIfExists(bigBadEvil);

        _seiyaData.ElQueLosAyudaDeOnda.RemoveIfExists(bigBadEvil);

        var saintCount = mainSaints.Count;

        var mainSaintsList = string.Join(", ", mainSaints);

        var enemyAmount = random.Next(6, 12);

        var enemies = _seiyaData.Enemigos.GetRandomElement();

        var means = string.Format(_seiyaData.Medios.GetRandomElement(), enemyAmount);

        var notReallyDeadSaint = mainSaints.GetRandomElement();

        mainSaints.Remove(notReallyDeadSaint);

        var notReallyDeadSaint2 = mainSaints.GetRandomElement();

        mainSaints.Remove(notReallyDeadSaint2);

        var senselessSaint = mainSaints.GetRandomElement();

        mainSaints.Remove(senselessSaint);

        var powerUpReason = _seiyaData.RazonDelPowerUpDeLaVictoria.GetRandomElement();

        var convenientHelper = _seiyaData.ElQueLosAyudaDeOnda.GetRandomElement();

        //objetivos
        var convenientPlace = _seiyaData.LugarConveniente.GetRandomElement();
        var convenientObject = _seiyaData.ObjetoConveniente.GetRandomElement();

        Story.Clear();

        Story.Add($"En esta épica aventura en {_seiyaData.Lugares.GetRandomElement()}, los {saintCount} Caballeros del Zodíaco, {mainSaintsList}, están en apuros!");
        Story.Add($"Saori se encuentra en peligro! {_seiyaData.Peligros.GetRandomElement()} amenaza con matarla, y solo nuestros amigos pueden ayudarla.");
        Story.Add($"Para eso deberán {means} que son custodiadas por {enemies}, para poder derrotar a {bigBadEvil}.");
        Story.Add($"Antes de comenzar su viaje, se encuentran con {convenientHelper} y les aconseja como derrotar a {enemies} con un secreto: {powerUpReason}.");
        Story.Add($"Gracias al consejo de {convenientHelper} logran derrotar al primero de {enemies}. Aún les queda una gran batalla por delante con los otros {enemyAmount - 1} {enemies}.");
        Story.Add($"Antes de salir {mainSaints.GetRandomElement()} piensa en {_seiyaData.CosaQueExtrania.GetRandomElement()}, porque {_seiyaData.ExtraniaALaCosaPorque.GetRandomElement()}.");
        Story.Add($"Mientras los demás siguen en camino a su próximo objetivo, {notReallyDeadSaint} tiene una feroz batalla, y pierde su vida luchando hasta morir. Todos sienten como su cosmos desaparece y se ponen tristes, pero deciden seguir adelante.");
        Story.Add($"Para poder vencer a otro de {enemies} con quien tenía demasiada diferencia de poder, {notReallyDeadSaint2} elige quemar su cosmos al máximo y explotar, llevándose consigo a su enemigo.");
        Story.Add($"Se encuentran con {littleBadEvil} justo antes de llegar a {bigBadEvil}, y en una batalla desigual los vence a todos y deja a {senselessSaint} privado de sus 5 sentidos!");
        Story.Add($"Cuando todo parecía perdido, {notReallyDeadSaint} aparece en la batalla! Volvió de la muerte gracias a {_seiyaData.RazonDelPowerUpDeLaVictoria.GetRandomElement()}!");
        Story.Add($"Con una impresionante destreza, {notReallyDeadSaint} y los demás, unen su fuerza para derrotar a {littleBadEvil} y por fin terminan de {means}!");
        Story.Add($"La batalla final con {bigBadEvil} está cada vez más cerca!");
        Story.Add($"Despues de derrotar a {littleBadEvil}, el último de {enemies}, llegan a {convenientPlace}, donde los espera {convenientObject}, que será clave para derrotar a {bigBadEvil}.");
        Story.Add($"Todos comienzan la pelea contra {bigBadEvil} para salvar a Saori! Son superados en la pelea, el cosmos de su enemigo es impresionante. No obstante, no pierden nunca la esperanza, y recuerdan las palabras de {convenientHelper} y queman su cosmos al máximo para lograr la victoria!");
        Story.Add($"Cuando la batalla final aparentaba terminar, {bigBadEvil} revela su verdadero poder, y los caballeros están por ser derrotados, pero aparece {notReallyDeadSaint2} que se salvó de morir por {_seiyaData.RazonDelPowerUpDeLaVictoria.GetRandomElement()} y le da nueva fuerza a todos con su ardiente cosmos!.");
        Story.Add($"Entre todos, y gracias a que {powerUpReason}, logran usar {convenientObject} para derrotar a {bigBadEvil} y {_seiyaData.LoQueHaceQueElMaloSeaMalo.GetRandomElement()} que lo esclavizaba {_seiyaData.PierdePorqueLaCausaDeSuMal.GetRandomElement()}.");
        Story.Add($"Al final Saori sale de peligro, y todos vuelven a su casa, esperando aún más aventuras como ésta...");
    }

    [System.Serializable]
    public class SeiyaData
    {
        public List<string> Lugares { get; set; }
        public List<string> Caballeros { get; set; }
        public List<string> Peligros { get; set; }
        public List<string> Enemigos { get; set; }
        public List<string> BigBadEvilGuy { get; set; }
        public List<string> LoQueHaceQueElMaloSeaMalo { get; set; }
        public List<string> PierdePorqueLaCausaDeSuMal { get; set; }
        public List<string> ElAnteriorAlBoss { get; set; }
        public List<string> Objetivos { get; set; }
        public List<string> Medios { get; set; }
        public List<string> LugarConveniente { get; set; }
        public List<string> ObjetoConveniente { get; set; }
        public List<long> CaballeroQueMuerePeroNo { get; set; }
        public List<long> CaballeroQuePierdeLosCincoSentidos { get; set; }
        public List<string> ElQueLosAyudaDeOnda { get; set; }
        public List<long> LaKamikazea { get; set; }
        public List<string> RazonDelPowerUpDeLaVictoria { get; set; }
        public List<string> CosaQueExtrania { get; set; }
        public List<string> ExtraniaALaCosaPorque { get; set; }
    }
}